:root {
  --soda-light: 255,169,51;
  --soda-dark: 255,169,51;
  --color-highlight-dark: var(--soda-dark);
  --color-highlight-menu: var(--soda-light);
  --color-highlight: var(--soda-light);
  --font-size-base: 22px; /* ergänzte Standard-Schriftgröße */
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: var(--font-size-base); /* Schriftgröße anwenden */
}

head {
  font-family: 'Noto Sans', sans-serif;
  font-size: var(--font-size-base); /* Schriftgröße anwenden */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Sans', sans-serif;
}

a {
  color: orange;
}
